<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxb.dao.OaRoleMapper">
  <resultMap id="BaseResultMap" type="com.lxb.entity.OaRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_role_id" jdbcType="INTEGER" property="parent_role_id" />
    <result column="role_name" jdbcType="VARCHAR" property="role_name" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxb.entity.OaRole">
    insert into oa_role (id, parent_role_id, role_name, 
      `status`, memo)
    values (#{id,jdbcType=INTEGER}, #{parent_role_id,jdbcType=INTEGER}, #{role_name,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{memo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lxb.entity.OaRole">
    update oa_role
    set parent_role_id = #{parent_role_id,jdbcType=INTEGER},
      role_name = #{role_name,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=BIT},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, parent_role_id, role_name, `status`, memo
    from oa_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, parent_role_id, role_name, `status`, memo
    from oa_role
  </select>
</mapper>