<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxb.dao.OaRoleAuthorityMapMapper">
  <resultMap id="BaseResultMap" type="com.lxb.entity.OaRoleAuthorityMap">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="role_id" />
    <result column="authority_module_id" jdbcType="INTEGER" property="authority_module_id" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa_role_authority_map
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxb.entity.OaRoleAuthorityMap">
    insert into oa_role_authority_map (id, role_id, authority_module_id
      )
    values (#{id,jdbcType=INTEGER}, #{role_id,jdbcType=INTEGER}, #{authority_module_id,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lxb.entity.OaRoleAuthorityMap">
    update oa_role_authority_map
    set role_id = #{role_id,jdbcType=INTEGER},
      authority_module_id = #{authority_module_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, role_id, authority_module_id
    from oa_role_authority_map
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, role_id, authority_module_id
    from oa_role_authority_map
  </select>
</mapper>